<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container bg-success" style="--bs-bg-opacity: .5;">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <h2>A</h2>
        </div>
        <div class="col">
            <h2>B</h2>
        </div>
        <div class="col">
            <h2>C</h2>
        </div>
        <div class="col">
            <h2>D</h2>
        </div>
        <div class="col">
            <h2>E</h2>
        </div>
        <div class="col">
            <h2>F</h2>
        </div>
        <div class="col">
            <h2>J</h2>
        </div>
        <div class="col">
            <h2>H</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>1</h2>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>2</h2>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>3</h2>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
    </div>
      <div class="row">
        <div class="col">
            <h2>4</h2>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>5</h2>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
    </div>
      <div class="row">
        <div class="col">
            <h2>6</h2>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>7</h2>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-light"></button>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <h2>8</h2>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="col d-grid gap-">
            <button type="button" class="btn btn-dark"></button>
        </div>
    </div>
       <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <h2>A</h2>
        </div>
        <div class="col">
            <h2>B</h2>
        </div>
        <div class="col">
            <h2>C</h2>
        </div>
        <div class="col">
            <h2>D</h2>
        </div>
        <div class="col">
            <h2>E</h2>
        </div>
        <div class="col">
            <h2>F</h2>
        </div>
        <div class="col">
            <h2>J</h2>
        </div>
        <div class="col">
            <h2>H</h2>
        </div>
    </div>
</div>

</body>
</html>