

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    {#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"#}
    {#          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">#}
    {#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"#}
    {#            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"#}
    {#            crossorigin="anonymous"></script>#}
    <script src="/static/js/go_to_from_server.js"></script>
    <script src="/static/js/reset.js"></script>
    <script src="/static/js/game.js"></script>
    <script src="/static/js/status.js"></script>
    <script src="/static/js/board.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>


<div class="container">

    <table class="game"></table>

    <button class="reset">reset</button>
    <button class="send">send</button>
</div>
{#<div class="container bg-success" style="--bs-bg-opacity: .5;">#}
{#    <div class="row">#}
{#        <div class="col">#}
{##}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>A</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>B</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>C</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>D</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>E</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>F</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>J</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>H</h2>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col">#}
{#            <h2>1</h2>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="1:A"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="1:B"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="1:C"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="1:D"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="1:E"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="1:F"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="1:G"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="1:H"></button>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col">#}
{#            <h2>2</h2>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="2:A"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="2:B"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="2:C"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="2:D"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="2:E"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="2:F"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="2:J"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="2:H"></button>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col">#}
{#            <h2>3</h2>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="3:A"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="3:B"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="3:C"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="3:D"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="3:E"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="3:F"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="3:J"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="3:H"></button>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col">#}
{#            <h2>4</h2>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="4:A"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="4:B"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="4:C"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="4:D"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="4:E"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="4:F"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="4:J"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="4:H"></button>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col">#}
{#            <h2>5</h2>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="5:A"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="5:B"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="5:C"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="5:D"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="5:E"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="5:F"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="5:J"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="5:H"></button>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col">#}
{#            <h2>6</h2>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="6:A"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="6:B"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="6:C"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="6:D"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="6:E"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="6:F"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="6:J"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="6:H"></button>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col">#}
{#            <h2>7</h2>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="7:A"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="7:B"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="7:C"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="7:D"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="7:E"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="7:F"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-dark" value="7:J"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-2">#}
{#            <button type="button" class="btn btn-light" value="7:H"></button>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col">#}
{#            <h2>8</h2>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="8:A"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="8:B"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="8:C"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="8:D"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="8:E"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="8:F"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-light" value="8:J"></button>#}
{#        </div>#}
{#        <div class="col d-grid gap-">#}
{#            <button type="button" class="btn btn-dark" value="8:H"></button>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col">#}
{##}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>A</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>B</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>C</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>D</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>E</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>F</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>J</h2>#}
{#        </div>#}
{#        <div class="col">#}
{#            <h2>H</h2>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

</body>
</html>